html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Medula One', sans-serif;
  font-size: 3em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span:first-child {
  margin-right: 20px;
}

span:first-child {
  color: black;
  background-color: black;
  animation: fadeWhite 4s forwards;
  animation-delay: 2s;
  position: relative;
}
span:first-child:after {
  content: "FAMILY";
  position: absolute;
  left: 2px;
  top: 2px;
  clip: rect(0, 900px, 0, 0);
  background-color: black;
  color: white;
  animation: glitch 3s infinite alternate-reverse;
  animation-delay: 4s;
}
span:first-child:before {
  content: "FAMILY";
  position: absolute;
  left: -2px;
  top: -2px;
  clip: rect(0, 900px, 0, 0);
  background-color: black;
  color: white;
  animation: glitch 3s infinite alternate-reverse;
  animation-delay: 4s;
}

@keyframes fadeWhite {
  100% {
    color: white;
  }
}
@keyframes glitch {
  0% {
    clip: rect(1px, 9999px, 38px, 0);
  }
  5% {
    clip: rect(70px, 9999px, 72px, 0);
  }
  10% {
    clip: rect(69px, 9999px, 28px, 0);
  }
  15% {
    clip: rect(4px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(63px, 9999px, 44px, 0);
  }
  25% {
    clip: rect(10px, 9999px, 57px, 0);
  }
  30% {
    clip: rect(68px, 9999px, 33px, 0);
  }
  35% {
    clip: rect(81px, 9999px, 15px, 0);
  }
  40% {
    clip: rect(10px, 9999px, 34px, 0);
  }
  45% {
    clip: rect(26px, 9999px, 27px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 89px, 0);
  }
  55% {
    clip: rect(60px, 9999px, 75px, 0);
  }
  60% {
    clip: rect(28px, 9999px, 97px, 0);
  }
  65% {
    clip: rect(80px, 9999px, 68px, 0);
  }
  70% {
    clip: rect(36px, 9999px, 95px, 0);
  }
  75% {
    clip: rect(17px, 9999px, 77px, 0);
  }
  80% {
    clip: rect(85px, 9999px, 5px, 0);
  }
  85% {
    clip: rect(82px, 9999px, 31px, 0);
  }
  90% {
    clip: rect(19px, 9999px, 14px, 0);
  }
  95% {
    clip: rect(57px, 9999px, 8px, 0);
  }
  100% {
    clip: rect(51px, 9999px, 35px, 0);
  }
}
